<!-- This template encapsulates panels inside the analysis tab.  -->
<panel id="script" name="Script" panelType="script"> </panel>
<panel id="mapPanel" name="Map Tool" panelType="mapToolPanel"> </panel>
<panel id="barChartPanel" name="Bar Chart Tool" panelType="barChartToolPanel"> </panel>
<!-- <panel id="dataTablePanel" name="Data Table" panelType="DataTableToolPanel"> </panel> -->
<!-- <panel id="scatterplotPanel" name="Scatter Plot Tool" panelType="ScatterPlotToolPanel"> </panel>  -->
<panel id="colorcolumnPanel" name="Color Column" panelType="colorColumnPanel"> </panel>
